/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* Custom CSS */

  .bg-img {
    /* The image used */
    background-image: url("images/food.jpeg");
    min-height: 800px;
    filter: brightness (10%);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
    display: flex;
    justify-content: center;
  
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
    scroll-behavior: smooth;
  }
  
  .topnav a:hover {
    text-decoration: 1px underline;
    color: #f2f2f2;
  }

  .content-wrapper {
    padding-top: 20vmax;
    padding-bottom: 10vmax;
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-transform: uppercase;
  }

  .content {
      color: rgb(255, 255, 255);
      display: flex;
      gap: 30%;
      justify-content: center;
      font-family: 'Sofia Sans', sans-serif;
      font-family: 'Tangerine', cursive;
      font-size: 40px;
      font-weight: 400;
      text-decoration: 4px underline;
  }

  .headline {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #f2f2f2;
    text-shadow: 1px 1px 2px black;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    right: 10px;
    width: 100%;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets 
  a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .our-story {
    display: flex;
    justify-content: center;
    padding: 100px 50px;
    width: auto;
    gap: 100px;
  }

  .head-story {
    width: 60%;
  }

  .myStory {
    color: rgb(235,133,35);
    text-shadow: 1px 1px 2px black;
    font-size: 4em;
  }
  /* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
